<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mobi.garden.bottomnavigationtest">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".Activity.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.Search_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.KategoriActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.HistoryActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.CartActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.MyMenuActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.DetailObatHome"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.InfromasiObat"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity.ApotekActivity" />
        <activity android:name=".Activity.PickUpActivity" />
        <activity android:name=".LoginRegister.Login" />
        <activity android:name=".LoginRegister.Register" />
        <activity android:name=".Activity.InformasiObatAs" />
        <activity android:name=".Activity.CartApotekActivity" />
        <activity android:name=".Activity.ProfileCustomerActivity" />
        <activity android:name=".Activity.EmailProfile" />
        <activity android:name=".Activity.AlamatProfile" />
        <activity android:name=".Activity.AddAlamatActivity" />
        <activity android:name=".Activity.LacakPesananDetail" />
        <activity android:name=".Activity.UbahAlamatActivity" />
        <activity android:name=".Activity.DetailKategori" />
        <activity android:name=".Activity.PromoActivity" />
        <activity android:name=".Activity.SearchProduk" />
        <activity android:name=".Activity.SearchApotek" />
        <activity android:name=".Activity.FavoritActivity"></activity>
    </application>

</manifest>